#footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer_links{
    display: flex;
    gap: 2rem;
   color: white;
}
.footer_links a{
    text-decoration: none;
    color: white;
}
.scroll{
    position: absolute;
    margin-top: 5rem;
    left:1rem;
    transform: rotate(270deg);
    font-size: 1rem;
    background-image:  linear-gradient( 40deg,#6702ff, #d902ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer_copyrt{
    background-image:  linear-gradient( 40deg,#3c00ff, #d902ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.scroll:hover{
    background-image:  linear-gradient( 90deg, #d902ff,#6702ff);
cursor: pointer;
}
@media screen and (max-width: 1000px ) {
    .scroll{
      display: none;
    }}
    @media screen and (max-width: 500px )
{.footer_links{
    flex-direction: column;
    text-align: center;
}

}
