.skills_parent{
    width: 100%;
display: grid;
grid-template-columns: 30% 30%;
  gap: 1rem;
margin-top:2rem ;
  justify-content: center;
  padding: 1rem;
}
.box{
    margin: auto;
    display: flex;
    flex-direction:column ;
justify-content: center;
    height: 300px;
    width: 280px;
    background: rgba(255, 255, 255, 0.3);
    padding: 2rem;
   text-align: center;
   font-size: 1rem;
   border-radius: 1rem;
}
.box:hover{
    border:0.1rem solid #bcbabd;
box-shadow: 1px 1px 5px;
    background: transparent;
cursor: pointer;
}
.development_skills{
   text-align: left;
padding: 2rem 0;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
}
.other_skills
{
    text-align: left;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
}
.list{
display: flex;
gap: 1rem;
align-items: center;

}
@media screen and (max-width:1150px){
    .skills_parent{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 2rem;
    }
}
@media screen and (max-width: 450px ) {
    .box{

        width: 250px;
        height:250px;
        padding: 1rem ;

        }
        
  }